@{
    Layout = "_ConfigurePlugin";
}
@model ConfigurationModel
@using Nixtus.Plugin.Widgets.Lucene.Models;
@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="Lucene" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Enabled_OverrideForStore" asp-input="Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Enabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Enabled" />
                        <span asp-validation-for="Enabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AutoCompleteSearchEnabled_OverrideForStore" asp-input="AutoCompleteSearchEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AutoCompleteSearchEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AutoCompleteSearchEnabled" />
                        <span asp-validation-for="AutoCompleteSearchEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                        <button id="rebuild-index" class="btn bg-primary">Rebuild Index</button>
                        <div id="message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $('#rebuild-index').click((e) => {
            e.preventDefault();

            $.ajax({
                cache: false,
                type: 'POST',
                url: '/Admin/Lucene/RebuildIndex'
            }).done(function (data) {
                if (data && data.success === '0') {
                    $('#message').html('Successfully rebuilt index');
                }
            }).fail(function (data) {
                console.log('failed rebuilding index', data);
                $('#message').html('Something failed');
            });
        });
    });
</script>